body {
    background-color: rgb(22, 22, 22);
    color: #e0e0e0;
    font-family: neue-haas-grotesk-text, "Neue Haas Grotesk Text", "Neue Arial Grotesk", Arial, sans-serif, Destiny_Keys, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

.sockets-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px;
    justify-items: center;
}

.weapon-image-container {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapon-watermark {
    position: absolute;
    top: 0;
    left: 0;
}

.weapon-icon {
    width: 46px;
}

.weapon-watermark {
    width: 46px;
}

.socket ul {
    list-style: none;
    padding-left: 0;
    justify-items: center;
}

.socket img {
    width: 36px;
}

#search {
    background-color: rgb(28, 28, 28);
    box-sizing: border-box;
    border-color: rgb(52, 52, 52);
    border-radius: 8px;
    border-style: solid;
    border-width: 0.8px;
    color: white;
    width: 320px;
    height: 36px;
    padding: 8px;
}

#search:hover {
    border-color: #0954a5;
}

#search:focus-visible {
    border-width: 1px;
    border-color: #0954a5;
}

.perk {
    position: relative;
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    top: -100%;
    left: 100%;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

.perk:hover .tooltip {
    display: block;
}

.highlighted-perk > img {
    border-radius: 50%;
    border: 1px solid #369eff;
    background-color: #0a4481;
    padding: 5px;
    font-weight: bold;
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #0091ff;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    padding: 0 16px;
    height: 30px;
    border-radius: 3px;
    font-weight: bold;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
}

#weapon-container {
    height: 900px;
}

#search-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}